body{
	font-size: 14px;
	font-family: 微软雅黑;
	color: #FFFFF;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
.beijs{
	background-color: #999;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	clip: rect(10px,10px,10px,10px);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
}
.bt01{
	margin-left: 14px;
	float: left;
	font-size: 16px;
	color: #006f6b;
	font-family: "微软雅黑";
	font-weight: bold;
	width: 180px;
	float: left;
	line-height: 30px;
}
.baizi14 {
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
}
.baizi12 {
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
}
.baizi18 {
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}
.heizi16 {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}
.dizhi {
	color: #666666;
	line-height: 26px;
	font-size: 12px;
}
.hz01 {
	color: #F1511B;
}
.bk01{
	border: 1px solid #666;
	background-color: #fffff5;
}
.bk02{
	border: 1px solid #CCC;
	background-color: #fffff5;
}
.wbk{
	font-size: 14px;
	color: #999999;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 37px;
	width: 198px;
	text-align: center;
}
.bk_yz{
	font-size: 14px;
	color: #999999;
	height: 28px;
	line-height:28px;
	width: 110px;
	text-align: center;
	border: 1px solid #999;
}
.yzm{
	display: inline;
	height: 28px;
	width: 220px;
	border: 1px inset #D6D6D6;
	color: #D6D6D6;
	font-size: 12px;
}
.lj_bs:link         {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 26px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.lj_bs:visited      {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 26px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.lj_bs:hover        {
	color: #000000;
	text-decoration: none;
	line-height: 26px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.lj_hs:link         {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 16px;
}
.lj_hs:visited      {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 16px;
}
.lj_hs:hover        {
	color: #F1511B;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 16px;
}
.lj_hs_14:link         {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 13px;
}
.lj_hs_14:visited      {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 13px;
}
.lj_hs_14:hover        {
	color: #F1511B;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 13px;
}
.lj_dl_18:link         {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 18px;
	display: block;
	height: 40px;
	width: 238px;
	border: 3px solid #666;
	text-align: center;
	line-height: 40px;
	background-color: #f0f0f0;
}
.lj_dl_18:visited      {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 18px;
	display: block;
	height: 40px;
	width: 238px;
	border: 3px solid #666;
	text-align: center;
	line-height: 40px;
	background-color: #f0f0f0;
}
.lj_dl_18:hover        {
	color: #F1511B;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 18px;
	display: block;
	height: 40px;
	width: 238px;
	border: 3px solid #666;
	text-align: center;
	line-height: 40px;
	background-color: #FFF;
}
.lj_bc_14{
	background-color:#F1511B;
	color:#ffffff;
	border-radius:5px;
}
.lj_dl_14:link         {
	color: #ffffff;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 160px;
	text-align: center;
	line-height: 26px;
	background-color:#F1511B;
	border-radius:5px;
}
.lj_dl_14:visited      {
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 160px;
	
	text-align: center;
	line-height: 26px;
	background-color:#F1511B;
	border-radius:5px;
}
.lj_dl_14:hover        {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 160px;
	text-align: center;
	line-height: 26px;
	background-color: #d64818;
}
.lj_bc_14:link         {
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 80px;
	text-align: center;
	line-height: 26px;
}
.lj_bc_14:visited      {
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 80px;
	text-align: center;
	line-height: 26px;
	
}
.lj_bc_14:hover        {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 26px;
	width: 80px;
	text-align: center;
	line-height: 26px;
	background-color:#c44317;
}

.bt_hs {
	color: #5d5d5d;
	font-size: 20px;
	text-align: center;
}
.tp {
	text-align: center;
}
.rq {
	color: #A4A4A4;
}
.nw {
	color: #333333;
	font-size: 14px;
	line-height: 30px;
}
.xian {
	color: #CCCCCC;
}

*{padding:0; border:0;}
#nav {
	line-height: 24px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	color: #000000;
	font-size: 16px;
	height: 30px;
	}

#nav a {
	display: block;
	width: 100px;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 30px;
	color: #000;
}

#nav a:link  {
	color: #666;
	text-decoration: none;
	line-height: 24px;
	height: 30px;
	width: 100px;
}
#nav a:visited  {
	color: #666;
	text-decoration: none;
	line-height: 24px;
	height: 30px;
	width: 300px;
}
#nav a:hover  {
	color: #F1511B;
}

#nav li {
	height: 30px;
	width: 120px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
}
#nav ul li ul li a:hover{
	height: 30px;
	width: 120px;
	color: #F1511B;
	text-decoration: none;
	display: block;
	font-size: 14px;
}
#nav li ul {
	line-height: 24px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 100px;
	position: absolute;
	height: 30px;
}
#nav li ul li{
	float: left;
	width: 130px;
	height: 30px;
	display: block;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 14px;
}

#nav li ul a{
	display: block;
	width: 100px;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
	height: 30px;
	font-size: 14px;
}


#nav li:hover ul {left: auto;}
#nav li.sfhover ul {left: auto;}
#content {clear: left;}
#wl {
	position: absolute;
	left: 739px;
	top: 193px;
}

#fade { 
  display:none; 
  position:absolute; 
  top:0%; 
  left:0%; 
  width:100%; 
  height:100%; 
  background-color:black; 
  z-index:1001; 
  -moz-opacity:0.8; 
  opacity:.80; 
  filter:alpha(opacity=80); 
} 
#light{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 560px;
	height: 262px;
	padding: 5px;
	border: 1px solid #ff632a;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

#lightAmmeter{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 714px;
	height: 330px;
	padding: 5px;
	border: 1px solid #ff632a;
	background-color: white;
	z-index: 1002;
	overflow: auto;
} 
#lightB{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 714px;
	height: 330px;
	padding: 5px;
	border: 1px solid #ff632a;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
#lightC{
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 714px;
	height: 120px;
	padding: 5px;
	border: 1px solid #ff632a;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.hz14 {
	color: #000000;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 30px;
	width: 554px;
}
.hz12 {
	color: #666666;
	font-size: 12px;
	font-family: "微软雅黑";
}
.srk01 {
	color: #A2A2A2;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 26px;
	width: 554px;
	display: block;
	line-height: 26px;
	border: 1px solid #A4A4A4;
}
.srk02 {
	color: #A2A2A2;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 26px;
	width: 145px;
	display: block;
	line-height: 26px;
	border: 1px solid #A4A4A4;
}
.srk03 {
	color: #A2A2A2;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 26px;
	width: 110px;
	display: block;
	line-height: 26px;
	border: 1px solid #A4A4A4;
}

#wq {
	position: absolute;
	left: 401px;
	top: 242px;
	width: 318;
	height: 180;
	z-index: 1003;
}

#lightSuccess{
	/*display: none;*/
	position: absolute;
	top: 25%;
	left: 25%;
	width: 560px;
	height: 200px;
	padding: 5px;
	border: 1px solid #ff632a;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
#listBox{
	padding-bottom:5px;
}
.myInput{
	border:0 none;
	cursor:default;
}
.bk_xf{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
}
.tableTop tr td p strong,.tableTop tr td p strong{
	color:#333333;
}
.tableTop tr td p{
	overflow:hidden;
	padding-left:10px;
}
.listBox table{
	margin:0 auto;
}
.listBox table tr td,.dianbiao tr td{
	padding:5px;
}
.tableTop tr td{
	
}
.listBox table.dianbiao{
	margin-bottom:15px;
}
.lodingIcon{
	position:absolute;
}
.lodingIcon img,.lodingIcon span{
	vertical-align:middle;
}
.lodingIcon span{
	padding-left:10px;
}
.leftNavBox{
	display:block;
	padding-left:12px;
	margin:0;
	overflow:hidden;
}
.leftNavBox li.nTitle{
	line-height:36px;
	height:36px;
	overflow:hidden;
}
.leftNavBox li,.myOrderTitle{
	font-size:16px;
	background:url(../images/xx01.png) left bottom no-repeat scroll;
}
.leftNavBox li.un{
	background:0 none;
}
.leftNavBox li a{
	display:block;
	position:relative;
	height:36px;
	line-height:36px;
	overflow:hidden;
	font-size:14px;
	color:#333333;
	
}
.leftNavBox li a span{
	position:absolute;
	right:8px;
	top:0px;
	overflow:hidden;
	font-size:14px;
	color:#333333;
}
.leftNavBox li a:hover,.leftNavBox li a:hover span,.leftNavBox li a.hz01,.leftNavBox li a.hz01 span{
	color:#F1511B;
}
.leftNav0a{
	padding-left:0;
}
.leftNav0a li{
	padding-left:12px;
	border-bottom:1px solid grey;
	background:0 none;
}
.leftNav0a li a{
	font-size:16px;
}
.leftNav0a li.un{
	border-bottom:0 none;
}
.lodingIcon{
	z-index:3;
	position:absolute;
	left:50%;
	top:50%;
	width:126px;
	height:32px;
	margin-top:-16px;
	margin-left:-63px;
	overflow:hidden;
}
.lodingIcon span{
	color:#ffffff;
	font-size:12px;
}
.bgColor{
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.2;
	filter:alpha(opacity=20);  
	left:0;
	top:0;
	overflow:hidden;
}
td.navTd{
	padding-top:0;
	padding-bottom:0;
	  border-spacing: 0px !important;
}
.classPage{
	position:absolute;
	width:100%;
	left:0;
	bottom:10px;
	height:29px;
}
#beijs tr td{
	background-color:#ffffff;
}
.listMyBox{
	height:1000px;
}
.borderNone{
	height:17px;
	border-top:1px solid #808080;
	margin-top:17px;
	overflow:hidden;
	display:block;
}
div.borderNone:last-child{
	border-top:0 none;
}

.gs01 {
	color: #186C5C;
	font-size: 19px;
	font-weight: bold;
}
.gs02 {
	color: #186C5C;
}