/* CSS Document */
.leftNavBox a{
	height:55px;
	line-height:55px;
	display:block;
}
.firstNav{
	background-color:#01a796;
	color:#ffffff;
	font-size:14px;
	padding-left:22px;
	padding-right:22px;
}
.nav a:hover, .nav a.on{
	background-color:#a6a6a6;
}
.LN10{
	width:24px;
	height:24px;
	background-position:0 -674px;
}
.nav a:hover .LN10,.nav a.on .LN10{
	background-position:0 -805px;
}
.LN11{
	width:24px;
	height:24px;
	background-position:0 -740px;
}
.nav a:hover .LN11,.nav a.on .LN11{
	background-position:0 -871px;
}
.pay_rem_box{
	height:330px;
}
.pay_btn_info.pay_btn{
	background-color:#01a796;
}